<div class="table-wrapper">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Student</th>
      <th>Subject1</th>
      <th>Subject2</th>
      <th>Optional</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.name }}</td>
      <!-- iterate max number of subjects student can have -->
      <td *ngFor="let i of [0,1,2]">
        <div *ngIf="student.subject[i]">
          <div>{{ student.subject[i].name }}</div>
          <div><small>Grade: <b>{{ student.subject[i].mark ? student.subject[i].mark : '/'}}</b></small></div>
        </div>
      </td>
      <td>
        <button class="btn btn-lg btn-outline-primary edit" (click)="openStudentEditDialog(student)">EDIT</button>
        <button class="btn btn-lg btn-outline-danger delete" (click)="delete(student)">DELETE</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <ngb-pagination class="pagination" [collectionSize]="collectionSize" [pageSize]="resultsPerPage" [(page)]="page" (pageChange)="onPageChange()" aria-label="Default pagination"></ngb-pagination>
  <button class="btn btn-lg btn-primary add" (click)="openStudentAddDialog()">ADD</button>
</div>




